main
{
    width:80%;
    margin: 10px;
}
table
{
    box-shadow:1px 1px 10px silver;
}
thead
{
    background-color: #3448DB;
    color:white;
    text-align:center;
}
tbody
{
    text-align:center;
}
#sho{
    display: non;
   
}
hr{
    width:40%;
    text-align:left;
    margin-left:30%;
}
#text_logo{
    color:#2980b9;
    font-family: sans-serif;
    padding-top: 2%;
}
#clic{
    margin: 20px;
    width: 50%;
}
